In [1]:
import pandas as pd
import numpy as np
import geocoder

In [2]:
df = pd.read_csv('PostalCode.csv', index_col = 0)

In [3]:
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [4]:
def getLatAndLong(postal_code):
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
      ga = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
      lat_lng_coords = ga.latlng

    return lat_lng_coords[0],lat_lng_coords[1]

In [5]:
# df['Latitude'],df['Longitude'] = zip(*df['Postcode'].map(getLatAndLong))

In [6]:
df1 = pd.read_csv('PostalCode.csv', index_col = 1)
df1.head()

          Unnamed: 0      Borough                         Neighbourhood
Postcode
M1B                0  Scarborough                         Rouge,Malvern
M1C                1  Scarborough  Highland Creek,Rouge Hill,Port Union
M1E                2  Scarborough       Guildwood,Morningside,West Hill
M1G                3  Scarborough                                Woburn
M1H                4  Scarborough                             Cedarbrae

In [7]:
df2 = pd.read_csv('Geospatial_Coordinates.csv', index_col = 0)
df2.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [8]:
df = pd.concat([df1,df2], axis = 1)

In [9]:
df.head()

,Unnamed: 0,Borough,Neighbourhood,Latitude,Longitude
M1B,0,Scarborough,"Rouge,Malvern",43.806686,-79.194353
M1C,1,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
M1E,2,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
M1G,3,Scarborough,Woburn,43.770992,-79.216917
M1H,4,Scarborough,Cedarbrae,43.773136,-79.239476

In [10]:
df.drop(['Unnamed: 0'], axis = 1,inplace = True)

In [11]:
df.reset_index(inplace = True)

In [12]:
df.head()

,index,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [13]:
df.rename({'index': 'PostalCode'}, inplace = True)

In [14]:
df.head()

,index,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [15]:
df.shape

(103, 5)

In [16]:
df.to_csv("Postal_Lat_Lng.csv")